* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header h1::first-letter {
  color: #fa0001;
  font-size: 70px;
  font: 500 1.875rem "Montserrat", sans-serif;
  font-weight: bold;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #061528;
}
main {
  margin: 0 auto;
}
h1 {
  font: 700 1.875rem "Comic Sans", sans-serif;
  color: black;
  -webkit-font-smoothing: auto;
}

main {
  width: 100%;
  height: 100%;
}
footer {
  text-align: center;
  // background: url("/img/footer3.jpg");
  padding: 40px 0;
  background: #082741;
}

.copyright {
  color: white;
  font-size: 13px;
  margin: 20px 0 0;
}
.social-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social-grid span {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .cartas {
    width: auto;
  }
}
