* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.h1 {
  padding: 2rem 0 0 2rem;
  font: 700 1.875rem "Comic Sans", sans-serif;
  color: black;
  -webkit-font-smoothing: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header p::first-letter {
  color: #fa0001;
  font-size: 70px;
  font: 500 1.875rem "Montserrat", sans-serif;
  font-weight: bold;
}
footer {
  text-align: center;
  background: url("/img/footer3.jpg");
  padding: 40px 0;
}

.copyright {
  color: white;
  font-size: 13px;
  margin: 20px 0 0;
}
.social-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social-grid span {
  color: white;
  font-size: 20px;
}
span {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  header,
  .caixa,
  .principal,
  .primeira,
  .cartas {
    width: auto;
  }
}
