* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/img/mandala1.jpeg");
  overflow-x: hidden;
  opacity: 0.7;

}

h1 {
  padding: 2rem 0 0 2rem;
  font: 700 1.875rem "Comic Sans", sans-serife;
  color: black;
  -webkit-font-smoothing: auto;
}

h2 {
  font-weight: 400;
  font-size: 1 rem;
  margin-left: 2 rem;
}

/*.primeiro {
  position: absolute;
  width: 1200px;
  height: 400px;
  margin: 4rem auto;
  padding: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.primeiro img {
  width: 30%;
}
*/

.primeiro p {
  padding-left: 1.5rem;
}